<div class="product_related">


  <div id="productrelated01" class="products_block exclusive block">

    <h4 class="title_block">
      <span>Sản phẩm liên quan</span>
    </h4>
    <div class="block_content">
      <div class="owl-row">
        <app-product-list-related></app-product-list-related>
      </div>

    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {

      $('#productrelated01 .owl-carousel').each(function () {
        $(this).owlCarousel({
          items: 4,
          lazyLoad: true,
          navigation: true,
          addClassActive: true,
          afterInit: SetOwlCarouselFirstLast,
          afterAction: SetOwlCarouselFirstLast,

          navigationText: ["<i class='fa fa-‹'></i>", "<i class='fa fa-›'></i>"]
        });
      });

      function SetOwlCarouselFirstLast(el) {
        el.find(".owl-item").removeClass("first");
        el.find(".owl-item.active").first().addClass("first");

        el.find(".owl-item").removeClass("last");
        el.find(".owl-item.active").last().addClass("last");
      };

    });
  </script>


</div>
