<div class="products_bestsell col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
  <div id="productlistbestsell" class="products_block block">
    <h2 class="page-subheading ">
      Bán chạy nhất
    </h2>
    <div class="block_content">
      <div class="product_list_owl">
        <div class="owl-carousel slide owl-theme" style="display: block; opacity: 1; overflow: auto">
          <div class="owl-wrapper-outer">
            <div class="owl-wrapper" style="left: 0px; display: inline-flex;">
              <!-- srat one product item -->
              <div class="owl-item active first" style="width: 195px;" *ngFor="let item of itemsBest ">
                <div class="item">
                  <div class="product_block">
                    <div class="item-variant clearfix product-block">
                      <div class="product-meta">
                        <h3 class="name">
                          <a class="product-name" [routerLink]="['/detail',item.id]" title="{{item.name}}">{{item.name}}</a>
                        </h3>
                        <div class="review clearfix">
                          <span class="shopify-product-reviews-badge" data-id="995767"></span>
                        </div>
                        <div class="content_price" *ngIf="item.promotions.length != 0">
                          <span class="price product-price sale-price">
                           <span>{{(item.price *(1 - item.promotions[0].percent/100)).toLocaleString('vi')}} ₫</span>
                         </span>
                         <span class="old-price product-price">
                          <span>{{item.price.toLocaleString('vi')}} ₫</span>
                        </span>
                      </div>
                        <div class="content_price" *ngIf="item.promotions.length == 0">
                          <span class="price product-price sale-price">
                           <span>{{item.price.toLocaleString('vi')}} ₫</span>
                         </span>
                        </div>
                    </div>
                    <div class="product-image-container image">
                      <div class="layout-img">
                        <a class="product_img_link" [routerLink]="['/detail',item.id]" title="{{item.name}}">
                          <img class="replace-2x img-responsive" src="{{item.avatar}}"
                               alt="{{item.name}}"
                               onerror="this.src='./assets/images/upload/noimage.gif'">
                          <span class="product-additional" data-idproduct="995767">
                          </span>
                        </a>
                      </div>
                      <span *ngIf="item.promotions.length != 0" class="product-label sale-box">
                        <span class="label-sale">Sale</span>
                      </span>
                      <div class="right">
                        <div class="action">
                          <div class="quickview">
                            <a class="quick-view btn-inverse btn" (click)="openViewQuick(item)"  data-handle="sup-thap-cam" data-toggle="tooltip" title="" data-original-title="Xem nhanh">
                              <i class="fa fa-search-plus"></i>
                            </a>
                          </div><div class="view_detail">
                          <a class="btn btn-inverse lnk_view" [routerLink]="['/detail',item.id]" data-toggle="tooltip" title="" data-original-title="Xem">
                            <i class="fa fa-eye"></i>
                          </a>
                        </div><div class="cart addtocart">
                        <form (submit)="addCart(item)" enctype="multipart/form-data" class="form-ajaxtocart" id="product-actions-995767">
                          <input type="hidden" name="id" value="1504339">
                          <input type="hidden" name="variantId" value="1504339">
                          <button class="btn btn-outline-inverse ajax_addtocart" type="submit" value="Submit">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Mua ngay</span>
                          </button>
                        </form>
                      </div></div>
                    </div></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end one product item -->

          </div>
          <div class="owl-controls clickable" style="display: none;">
            <div class="owl-pagination">
              <div class="owl-page active"><span class=""></span></div>
            </div>
            <div class="owl-buttons">
              <div class="owl-prev">‹</div>
              <div class="owl-next">›</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end product best sell -->
</div>
