<div id="breadcrumbs">
  <div class="container">
    <nav role="navigation" aria-label="breadcrumbs">
      <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a [routerLink]="['/home']" title="Quay lại trang trước" itemprop="item">
            <span itemprop="name">Trang chủ</span>
          </a>
        </li>
        <li *ngFor="let breadcrumb of breadcrumbs" class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a [routerLink]="[breadcrumb.url]"> <span itemprop="name">{{ breadcrumb.label }}</span></a>
        </li>
      </ol>
    </nav>
  </div>
</div>
