<div class="main-content" role="main">
  <div id="ap-slideshow" class="ap-slideshow">
    <div class="container">
      <div class="row">
        <!-- start category main -->
        <app-home-category></app-home-category>
        <!-- end category main -->
        <!-- start slide show main -->
        <app-home-slideshow></app-home-slideshow>
        <!-- end slide show main -->
        <!-- start ads -->
        <div class="col-lg-3 hidden-md hidden-xs hidden-sm">
          <div class="widget-banner block">
            <div class="block_content">
              <div class="image-box">
                <div class="img-banner efect">
                  <a href="">
                    <img src="../assets/images/banner/home_bannerone.png" alt="Adv Banner" class="img-responsive">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end ads -->
        <!-- start product best sell -->
        <app-home-bestseller></app-home-bestseller>
        <!-- end best sell -->
      </div>
    </div>
    <!-- start promotion -->
    <div class="promotion" id="ap-promotion">
      <div class="container">
        <div class="box-apreassurances">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column">
              <div class="reassurances-left">
                <span class="icon-box">
                  <img class="img-responsive" alt=""
                                            src="../assets/images/banner/home_blockhtml_icon_1.png"/>
                </span>
                <div class="description media-body">
                  <h4>Miễn phí vận chuyển</h4>
                  <p>Trong vòng 3km</p>
                  <a href="javascript:void(0)" class="apreassurances arrow" data-toggle="modal"
                     data-target="#myModal1"></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column">
              <div class="reassurances-left">
                <span class="icon-box"><img class="img-responsive" alt=""
                                            src="../../assets/images/banner/home_blockhtml_icon_2.png"></span>
                <div class="description media-body">
                  <h4>Hỗ trợ khách hàng</h4>
                  <p>24/24 Tất cả các ngày</p>
                  <a href="javascript:void(0)" class="apreassurances arrow" data-toggle="modal"
                     data-target="#myModal2"></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column">
              <div class="reassurances-left">
                <span class="icon-box"><img class="img-responsive" alt=""
                                            src="../assets/images/banner/home_blockhtml_icon_3.png"></span>
                <div class="description media-body">
                  <h4>Mua hàng tiện lợi</h4>
                  <p>Nhấn và chọn</p>
                  <a href="javascript:void(0)" class="apreassurances arrow" data-toggle="modal"
                     data-target="#myModal3"></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column">
              <div class="reassurances-left">
                <span class="icon-box"><img class="img-responsive" alt=""
                                            src="./assets/images/banner/home_blockhtml_icon_4.png"></span>
                <div class="description media-body">
                  <h4>Giá cả hấp dẫn</h4>
                  <p>Giảm tới 40%</p>
                  <a href="javascript:void(0)" class="apreassurances arrow" data-toggle="modal"
                     data-target="#myModal4"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end promotion -->
    <!-- start colums product -->
    <div id="columns" class="columns-container">
      <div class="container">
        <div id="center_column" class="center_column col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div id="content" class="clearfix">
            <div class="row ">
              <div id="apsubcategoriestab_block">
                <div class="category_item block clearfix cat_snack">
                  <!-- start sp noi bat -->
                  <app-home-toptrending></app-home-toptrending>
                  <!-- end sp noi bat -->
                  <!-- start dat com -->
                  <app-home-riceorder></app-home-riceorder>
                  <!-- end dat com -->
                </div>
                <!-- start nguyen lieu -->
                <div class="category_item block clearfix cat_fruit">
                  <!-- start sale -->
                  <app-home-sale></app-home-sale>
                  <!-- end sale -->
                  <!-- start material -->
                   <app-home-material></app-home-material>
                  <!-- end material -->

                  <!--  -->
                </div>
                <!-- end nguyen lieu -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end colums product -->
  </div>
</div>
