<div id="categories_block" class="block sidebar_block_custom">
  <h4 class="title_block">Danh Mục Sản Phẩm <i class="fa fa-plus-circle"></i></h4>
  <div class="block_content" style="">
    <ul class="list-block list-group list-unstyled listSidebar">
      <li class="{{category.id === id ? 'active' : ''}}" *ngFor="let category of categories">
        <a   [routerLink]="[ '/stores', storeID, 'category', category.id ]" >
          {{ category.name }}
        </a>
      </li>
    </ul>
  </div>
</div>