<!-- start header -->
<header id="header" role="banner">
    <section class="header-container">
        <div id="topbar">
            <div class="banner">
                <div class="container">
                    <div class="row topbar-popup" style="display: none;">

                        <div class="block_currencies btn-group">
                            <div data-toggle="dropdown" class="dropdown-toggle">


                                <span class="pre-currencies"><img src=""> </span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                            <ul class="currencies currencies_ul dropdown-menu list-unstyle">


                                <li class="">
                                    <a data-currency="USD" class="" href="javascript:void(0);" rel="nofollow">
                                        <img src="//bizweb.dktcdn.net/100/038/419/themes/49902/assets/currencies_img_1.png?1502267854590"
                                            alt="USD">
                                        USD
                                    </a>
                                </li>


                                <li class="">
                                    <a data-currency="EUR" class="" href="javascript:void(0);" rel="nofollow">
                                        <img src="//bizweb.dktcdn.net/100/038/419/themes/49902/assets/currencies_img_2.png?1502267854590"
                                            alt="EUR">
                                        EUR
                                    </a>
                                </li>


                                <li class="">
                                    <a data-currency="AUD" class="" href="javascript:void(0);" rel="nofollow">
                                        <img src="//bizweb.dktcdn.net/100/038/419/themes/49902/assets/currencies_img_3.png?1502267854590"
                                            alt="AUD">
                                        AUD
                                    </a>
                                </li>
                                <li class="">
                                    <a data-currency="GBP" class="" href="javascript:void(0);" rel="nofollow">
                                        <img src="//bizweb.dktcdn.net/100/038/419/themes/49902/assets/currencies_img_4.png?1502267854590"
                                            alt="GBP">
                                        GBP
                                    </a>
                                </li>


                                <li class="">
                                    <a data-currency="JPY" class="" href="javascript:void(0);" rel="nofollow">
                                        <img src="//bizweb.dktcdn.net/100/038/419/themes/49902/assets/currencies_img_5.png?1502267854590"
                                            alt="JPY">
                                        JPY
                                    </a>
                                </li>


                            </ul>
                        </div>


                        <div class="header_user_info e-scale 1">
                            <ul class="links">

                                <li><a class="account" rel="nofollow" href="/account" title="Tài khoản của tôi"><span>Vũ
                                            Đặng Ngọc</span></a></li>
                                <li><a id="customer_logout_link" href="/account/logout" title="Đăng xuất">Đăng xuất</a>
                                </li>

                            </ul>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $(".dropdown-toggle-search").click(function () {
                                    ear
                                    $(".dropdown-menu-search").slideToggle();
                                });
                            });
                        </script>
                        <div class="search_block_top btn-group clearfix">

                            <div class="dropdown-ts">
                                <div class="dropdown-toggle-search">
                                    <i class="button-search fa fa-search"></i>
                                </div>
                                <div class="dropdown-menu-search">


                                </div>
                            </div>

                        </div>
                    </div>
                    <a href="#" class="topbar-button action-show"></a>
                </div>
            </div>
            <div class="nav">
                <div class="container">
                    <nav>
                        <div class="header_user_info e-scale 1">
                            <ul class="links">
                                <li *ngIf="user.currentUser == null"><a id="customer_login_link"
                                        [routerLink]="['/login']" title="Đăng nhập">Đăng
                                        nhập</a></li>
                                <li *ngIf="user.currentUser != null"><a (click)="logout()" title="Đăng xuất">Đăng
                                        xuât</a></li>
                                <li *ngIf="user.currentUser != null"><a [routerLink]="['/profile']" title="Cá nhân">Xin
                                        chào {{user.currentUser.username}}</a></li>
                                <li *ngIf="user.currentUser == null"><a [routerLink]="['/register']"
                                        title="Đăng ký">Đăng
                                        ký</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div id="header-main">
            <div class="container">
                <div class="row">
                    <div id="header_logo" class="inner col-lg-3 col-md-3 col-sm-4 col-xs-8">

                        <h1 class="pull-left" itemscope="" itemtype="http://schema.org/Organization"
                            style="font-size: 0px;">


                            <a href="/" itemprop="url">
                                <img src="//bizweb.dktcdn.net/100/038/419/themes/49902/assets/logo.png?1502267854590"
                                    alt="leo-food" itemprop="logo">
                            </a>


                        </h1>

                    </div>
                    <div class="header-right header-cart col-lg-9 col-md-9 col-sm-8 col-xs-4">

                        <!--Top Menu -->
                        <div id="apollo-menu">
                            <nav id="cavas_menu" class="apollo-megamenu">
                                <div class="" role="navigation">
                                    <div id="apollo-top-menu" class="collapse navbar-collapse">
                                        <ul class="nav navbar-nav megamenu">


                                            <li class="active">
                                                <a class="" [routerLink]="['/']" title="Trang chủ" target="_self">
                                                    <span class="">Trang chủ</span>
                                                </a>
                                            </li>


                                            <li class="parent dropdown full-width ">
                                                <a class="dropdown-toggle has-category" data-toggle="dropdown"
                                                    href="/collections" title="Bộ sưu tập" target="_self">
                                                    <span class="menu-title">Bộ sưu tập</span><b class="caret"></b>
                                                </a>


                                                <div class="dropdown-sub dropdown-menu sub-apmegamenu-1">
                                                    <div class="dropdown-menu-inner">
                                                        <div class="row">

                                                            <div class="mega-col col-sm-3">

                                                                <div class="row">


                                                                    <div class="col-sm-12">
                                                                        <div class="mega-col-inner ">
                                                                            <div class="menu-title">Hiển thị</div>
                                                                            <div class="widget-inner">
                                                                                <ul class="nav-links">


                                                                                    <li><a href="/dang-luoi-cot-trai"
                                                                                            title="Dạng lưới, cột trái">Dạng
                                                                                            lưới, cột
                                                                                            trái</a></li>

                                                                                    <li><a href="/dang-luoi-cot-phai"
                                                                                            title="Dạng lưới, cột phải">Dạng
                                                                                            lưới, cột
                                                                                            phải</a></li>

                                                                                    <li>
                                                                                        <a href="/dang-danh-sach-cot-trai"
                                                                                            title="Dạng danh sách, cột trái">Dạng
                                                                                            danh sách, cột trái</a></li>

                                                                                    <li>
                                                                                        <a href="/dang-danh-sach-cot-phai"
                                                                                            title="Dạng danh sách, cột phải">Dạng
                                                                                            danh sách, cột phải</a></li>

                                                                                    <li><a href="/toan-chieu-rong"
                                                                                            title="Toàn chiều rộng">Toàn
                                                                                            chiều rộng</a>
                                                                                    </li>


                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>


                                                            <div class="mega-col col-sm-5">

                                                                <div class="block-video">
                                                                    <div class="widget-inner">
                                                                        <iframe width="100%" height="200"
                                                                            src="https://www.youtube.com/embed/c9cDCaY9lzY"
                                                                            frameborder="0" allowfullscreen=""></iframe>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="mega-col col-sm-4">


                                                                <div class="products_menu">

                                                                    <div class="menu-title">
                                                                        Sản phẩm nổi bật
                                                                    </div>

                                                                    <div class="product-block">


                                                                        <div class="product-container clearfix">
                                                                            <div class="product-meta">
                                                                                <h5 class="name">
                                                                                    <a class="product-name"
                                                                                        href="/com-ga" title="Cơm gà">
                                                                                        Cơm gà
                                                                                    </a>
                                                                                </h5>
                                                                                <div class="product-desc">
                                                                                    <p
                                                                                        style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">
                                                                                        <br>
                                                                                        Trong ẩm thực Việt, có lẽ
                                                                                        chẳng...
                                                                                    </p>
                                                                                </div>
                                                                                <div class="content_price price">

                                                                                    <span
                                                                                        class="price product-price sale-price">
                                                                                        <span>40.000₫</span>
                                                                                    </span>

                                                                                    <span
                                                                                        class="old-price product-price">
                                                                                        <span>70.000₫</span>
                                                                                    </span>


                                                                                </div>
                                                                            </div>
                                                                            <div class="image ">
                                                                                <a class="product_img_link"
                                                                                    href="/com-ga" title="Cơm gà">
                                                                                    <img class="replace-2x img-responsive"
                                                                                        src="//bizweb.dktcdn.net/100/038/419/products/4556114201404-fix.jpg?v=1475284834753"
                                                                                        alt="Cơm gà">
                                                                                </a>
                                                                            </div>

                                                                        </div>


                                                                        <div class="product-container clearfix">
                                                                            <div class="product-meta">
                                                                                <h5 class="name">
                                                                                    <a class="product-name"
                                                                                        href="/com-van-phong"
                                                                                        title="Cơm văn phòng">
                                                                                        Cơm văn phòng
                                                                                    </a>
                                                                                </h5>
                                                                                <div class="product-desc">
                                                                                    <p
                                                                                        style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">
                                                                                        <br>
                                                                                        Món ăn đơn giản với chiếc
                                                                                        bánh...
                                                                                    </p>
                                                                                </div>
                                                                                <div class="content_price price">

                                                                                    <p class="product-contact">Giá: Liên
                                                                                        Hệ</p>

                                                                                </div>
                                                                            </div>
                                                                            <div class="image ">
                                                                                <a class="product_img_link"
                                                                                    href="/com-van-phong"
                                                                                    title="Cơm văn phòng">
                                                                                    <img class="replace-2x img-responsive"
                                                                                        src="//bizweb.dktcdn.net/100/038/419/products/552048541-fix.jpg?v=1475284907923"
                                                                                        alt="Cơm văn phòng">
                                                                                </a>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </li>


                                            <li class="parent dropdown ">
                                                <a class="dropdown-toggle has-category" data-toggle="dropdown"
                                                    href="/collections/all" title="Sản phẩm" target="_self">
                                                    <span class="">Sản phẩm</span><b class="caret"></b>
                                                </a>
                                                <div class="dropdown-menu level1">
                                                    <div class="dropdown-menu-inner">
                                                        <div class="mega-col-inner">
                                                            <ul>


                                                                <li class="">
                                                                    <a class="" href="/sup-thap-cam"
                                                                        title="Sản phẩm mới">
                                                                        <span class="">Sản phẩm mới</span>
                                                                    </a>
                                                                </li>


                                                                <li class="">
                                                                    <a class="" href="/hamburger" title="Sản phẩm hot">
                                                                        <span class="">Sản phẩm hot</span>
                                                                    </a>
                                                                </li>


                                                                <li class="">
                                                                    <a class="" href="/com-van-phong"
                                                                        title="Sản phẩm khuyến mãi">
                                                                        <span class="">Sản phẩm khuyến mãi</span>
                                                                    </a>
                                                                </li>


                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>


                                            <li class="">
                                                <a class="" href="/tin-tuc" title="Tin tức" target="_self">
                                                    <span class="">Tin tức</span>
                                                </a>
                                            </li>


                                            <li class="">
                                                <a class="" href="/gioi-thieu" title="Giới thiệu" target="_self">
                                                    <span class="">Giới thiệu</span>
                                                </a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <!-- End Menu -->


                        <div class="inner no-padding col-lg-8 col-md-8 col-sm-8 hidden-xs">

                            <div class="search_block_top clearfix">

                                <div class="nav-search visible">

                                    <form class="input-group searchbox search-box" [formGroup]="searchForm"
                                        role="search">
                                        <input type="hidden" name="type" value="product">
                                        <div
                                            class="filter_type category_filter input-group-addon group-addon-select icon-select">
                                            <select name="category_id" class="no-border" formControlName="category_id">
                                                <option value="0">Tất cả danh mục</option>

                                                <option *ngFor="let category of listCategories" [value]="category.id">
                                                    {{category.name}}
                                                </option>

                                            </select>
                                        </div>
                                        <div class="search-input-wrapper clearfix input-group">
                                            <input class="search_query_top form-control input-lg input-search" size="35"
                                                type="search" name="query" value="" placeholder="Tìm kiếm ..."
                                                aria-label="Tìm kiếm ..." formControlName="key_search">
                                            <span class="input-group-addon input-group-search">
                                                <button class="search_button" type="submit"
                                                    (click)="search(inputSearch)">
                                                    Tìm kiếm
                                                </button>
                                            </span>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>
                        <div class="inner col-lg-4 col-md-4 col-sm-4 col-xs-12">

                            <div id="cart" class="blockcart_top clearfix">
                                <div class="media heading">
                                    <div class="cart-inner media-body">
                                        <a [routerLink]="['/cart']" id="CartToggle">
                                            <div class="icon-cart"></div>
                                            <span class="fix-cart">GIỎ HÀNG</span>
                                            <span id="CartCount">{{ cart.carts.length }}</span>
                                            <span> - </span>
                                            <span id="CartCost">{{ cart.getTotal().toLocaleString('vi') }} ₫</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="header-bottom hidden-lg hidden-md col-sm-12 col-xs-12">
                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle btn-menu-canvas" data-toggle="offcanvas"
                                data-target="#off-canvas-nav">
                                <span class="fa fa-bars"></span>
                                <span class="menu-only">Menu</span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<!-- end header -->