<div class="col-xs-12 col-sm-12 col-lg-9 col-md-9">
  <div class="category_sub">
    <h3 class="title_block pull-left">Đồ dùng gia đình</h3>
  </div>
  <div class="row">
    <div class="">
      <div class="category_content">
        <div class="category_product_tab">
          <div class="tab-content owl-row">
            <div class="tab-pane active" id="productTabs01_1">
              <div class="carousel slide" id="home_producttabs01_collection_1">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="product_list">
                      <app-product-block [index]="i"
                                         [size]="3"
                                         [class]="'col-md-4 col-sm-4 col-xs-12 col-sp-12'"
                                         *ngFor="let item of itemsTool; let i = index"
                                         [product]="item">
                      </app-product-block>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="category_desc fix-banner">
      <img class="img-responsive"
      src="./assets/images/banner/home_verticaltabs_2.png"
      alt="Đồ ăn nóng">
    </div>
  </div>


</div>
