<div id="catalog_block" class="block ajax-filter block_shopby">
  <div class="title_block"><span>Bộ lọc sản phẩm</span></div>
  <div class="block_content" style="">
    <div class="catalog_filters">
      <div class="catalog_subtitle_heading">
        <span class="catalog_subtitle">Giá</span></div>
      <ul id="ul_catalog_price"
          class="col-md-12 catalog_filter_ul list-unstyled">
        <li class="advanced-filter"
            data-group="Giá" data-handle="duoi-30-000d">
          <input class="chkval" type="checkbox"
                 name="Giá" value="duoi-30-000d"><a href="/collections/all/duoi-30-000d"
                                                    title="duoi-30-000d">Dưới 30.000đ</a></li>
        <li class="advanced-filter"
            data-group="Giá" data-handle="30-000d-100-000d">
          <input class="chkval" type="checkbox"
                 name="Giá" value="30-000d-100-000d"><a href="/collections/all/30-000d-100-000d"
                                                        title="30-000d-100-000d">30.000đ -
          100.000đ</a></li>
        <li class="advanced-filter"
            data-group="Giá" data-handle="tren-100-000d">
          <input class="chkval" type="checkbox"
                 name="Giá" value="tren-100-000d"><a href="/collections/all/tren-100-000d"
                                                     title="tren-100-000d">Trên 100.000đ</a></li>
      </ul>
    </div>
  </div>
</div>
