<footer id="footer" role="contentinfo">
  <div class="bottom">
    <div class="container">
      <div class="row ">
        <div class="col-xs-12 col-md-12">
          <div id="newsletter_block" class="inline">
            <div class="block_content">
              <form class="form_newsletter" action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                <div class="explain">
                  Đăng ký để nhận tin mới
                </div>
                <div class="clearfix input-group input-newsletter">
                  <div class="input-group">
                    <input type="email" value="" placeholder="Nhập Email của bạn ..." name="EMAIL" id="mail" class="newsletter-input form-control input-lg" aria-label="Nhập Email của bạn ...">
                    <span class="input-group-btn">
                            <button id="subscribe" class="btn btn-newsletter" type="submit">
                            <span>Theo dõi</span>
                            </button>
                            </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <section id="footercenter" class="footer-center">
      <div class="container">
        <div class="footer-center-wrap">
          <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 " data-wow-delay="100ms">
              <div class="block_aboutshop block">
                <div class="block_content">
                  <div class="box logo-ft">
                    <img src="http://bizweb.dktcdn.net/100/038/419/themes/49902/assets/logo.png?1495677182625" alt="" class="img-responsive">
                  </div>
                  <div class="about">
                    Nhà hàng Leo Food thiết kế theo phong cách vừa truyền thống vừa mang nét hiện đại. Kiến trúc sang trọng kết hợp với khung cảnh thiên nhiên tạo cảm giác đặc biệt hơn cho du khách khi thưởng thức ẩm thực tại đây.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 " data-wow-delay="100ms">
              <div class="footer-block block footer_contact">
                <h4 class="title_block"><span>Liên hệ</span></h4>
                <div class="block_content" style="">
                  <ul style="">
                    <li class="icon"><i class="fa fa-phone"></i><a href="" title="Liên hệ : 0989999999">Di động: 0989999999</a></li>
                    <li class="icon"><i class="fa fa-envelope"></i>Email: <a href="">vu.dang@gmail.com</a></li>
                  </ul>
                  <div class="icon"><i class="fa fa-map-marker"></i><span>Đà Nẵng</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 " data-wow-delay="100ms">
              <div class="footer-block block" id="block_links_footer_2">
                <h4 class="title_block"><span>Thông tin</span></h4>
                <div class="block_content" style="">
                  <ul style="" class="toggle-footer list-group bullet">
                    <li class="item">
                      <a href="" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a>
                    </li>
                    <li class="item">
                      <a href="" title="Quy định sử dụng">Quy định sử dụng</a>
                    </li>
                    <li class="item">
                      <a href="" title="Chính sách vận chuyển">Chính sách vận chuyển</a>
                    </li>
                    <li class="item">
                      <a href="" title="Điều khoản dịch vụ">Điều khoản dịch vụ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 " data-wow-delay="100ms">
              <div class="footer-block block" id="block_links_footer_3">
                <h4 class="title_block"><span>Food Market</span></h4>
                <div class="block_content" style="">
                  <ul style="" class="toggle-footer list-group bullet">
                    <li class="item">
                      <a href="" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="item">
                      <a href="" title="Tìm kiếm sản phẩm">Tìm kiếm sản phẩm</a>
                    </li>
                    <li class="item">
                      <a href="" title="Giới thiệu cửa hàng">Giới thiệu cửa hàng</a>
                    </li>
                    <li class="item">
                      <a href="" title="Thông tin liên hệ">Thông tin liên hệ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footernav" class="footer-nav">
      <div class="container">
        <div class="footer-bottom-wrap">
          <div id="powered" class="powered ">
            <!--<div class="copyright">-->
              <!--<p class="text-center float-left">© Bản quyền thuộc về <a href="http://apollotheme.com/">Intern AT PHP</a>.</p>-->
              <!--<p class="provide-by">Cung cấp bởi <a href="#" title="">Intern PHP</a></p>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>
